<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jdbc="http://www.springframework.org/schema/jdbc" xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="
     http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
     http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
     http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
     http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
     http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<!-- 定时从网上抓取内容 -->
	<bean id="readOhterWebSite" class="com.theta.quartzJob.ReadOhterWebSite"></bean>
	
	<bean id="readOhterWebSiteJob" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="readOhterWebSite"></property>
		<property name="targetMethod" value="execute" />
	</bean>
	
	<bean id="readOhterWebSiteJobBean" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="readOhterWebSiteJob"></property>
		<property name="cronExpression" value="0 30 4 * * ?" />
	</bean>
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="readOhterWebSiteJobBean"/>
			</list>
		</property>
	</bean>
	
</beans> 